.form{
    background-color: rgb(203, 159, 245);
    box-shadow: 0px 0px 10px gray;
    padding: 15px;
    margin-top: 5px;
}

#table{
    padding: 5px;
}

.detalhe:hover{
    color: green;
}

.del{
    color: darkred;
}

.del:hover{
    color:red;
}

a{
    text-decoration: none;
}

#barra{
    height: 30px;
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 0px 5px gray;
}

#barra > a{
    color: rgb(57, 57, 173);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}